<%- include('../partials/header') -%>

<div class="container-fluid position-relative" style="min-height: 100vh;">
  <div id="auth">
    <div class="row">
      <div class="col-sm-12 p-3 text-center">
        <h3 class="p-2">BEJELENTKEZÉS</h3>

        <hr class="my-3">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 ps-3 pe-3">
        <input type="text" class="form-control shadow-none" placeholder="Felhasználónév">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 p-3">
        <input type="password" class="form-control shadow-none" placeholder="Jelszó">
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-12 p-2">
        <button id="loginBtn" type="button"><i class="bi bi-unlock"></i></button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 p-2 text-center">
        <a href="/register">
          Regisztráció
        </a>
      </div>
    </div>

  </div>
 
</div>


<%- include('../partials/footer') -%>