<%- include('../partials/header') -%>

<div class="container-fluid position-relative" style="min-height: 100vh;">
  <form id="auth" method="post" action="">
    <div class="row">
      <div class="col-sm-12 p-3 text-center">
        <h3 class="p-2">REGISZTRÁCIÓ</h3>

        <% if (typeof error !== 'undefined') { %>
          <span class="text-danger"><%= error%></span>
         <% } %> 
        <hr class="my-3">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 ps-3 pe-3">
        <input type="text" class="form-control shadow-none" name="username" placeholder="Felhasználónév">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 p-3 ">
        <input type="password" class="form-control shadow-none" name="password" placeholder="Jelszó">
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12 ps-3 pe-3">
        <input type="password" class="form-control shadow-none" name="password_repeat" placeholder="Jelszó mégegyszer">
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-12 p-2">
        <button id="loginBtn" type="submit"><i class="bi bi-person-plus"></i></button>
      </div>
    </div>

   <div class="row">
      <div class="col-sm-12 p-2 text-center">
        <a href="/">
          Bejelentkezés
        </a>
      </div>
    </div>

  </form>
 
</div>




<%- include('../partials/footer') -%>